.postContainer {
    display: flex;
    flex-direction: column;

}
.controlContainer{
    display: flex;
    width: 100%;
}
.postTitle {
    text-align: center;
}

.author {
    text-align: left;
    font-size: large;
    margin-right: auto;
    float: left;
}

.postButton {
    background-color: red;
    text-align: center;
    color: white;
    width: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editButton{
    margin-left: auto;
}

.postText {
    text-align: justify;
}

.likeText {
    text-align: left;
    float: left;
}

.likeContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.likeText {
    display: flex;
    flex-direction: row;    
}

.allComments{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: lightgrey;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    margin: 0px;
    padding: 0px;

}

.allCommentsText {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commentsContainer {
    display: flex;
    flex-direction: column;
}
.comment {
    border-style: solid;
    border-color: lightgrey;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;

}
